main{
    background-color: black;
}

div.container-fluid{
    text-align: center;
    max-height: 90vh;
}

div.flex{
    display: flex;
    align-items: center;
}


body {
    margin: 0;
    background-color: black;
}

 img{
    height: 98vh;
}

html {
    margin: 0;
    background-color: black;
}

@media screen and (max-width: 768px){
main {
    padding-top: 50%;
}
    img {
        height: 50%;
    }
}